#body {
	margin: 0px;
	font-family: verdana;
	font-size: small;
	height: 100%;
	
	background-image:linear-gradient(#ADD8E6,white);
	
}

#titre {
	position: fixed;
	top: 0px;
	width: 200%;
	background-color: #ADD8E6;
	height: 2cm;
	border-radius: 10px
}


/*#arriereplan {
	*/
	#main{
	/*overflow: hidden;
*/
	top: -20px;
	bottom: 20px;
	position: absolute;
	background-position: top center;
	height:100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
background-image:linear-gradient(#ADD8E6,white);
/*	border :1px solid black;
*/	background-size: cover;
	background-repeat: no-repeat;
	
		min-height: 78%;
}

div.logo{
	margin: 16px 50px 0 10%;
	height: 50px;
	width: 50px;
	float: left;
}
div.Accueil {
	font-size: 20px;
	color: rgb(117, 117, 117);
	float: left;
	padding: 15px 30px 15px 30px;
	margin: 13px 25px 12px 25px;
}

div.Accueil:hover {
	color: white;
	cursor: pointer;
	background-color: #7C7C7C;
	border-radius: 10px;
}

div.LieuxHoraires {
	font-size: 20px;
	color: rgb(117, 117, 117);
	float: left;
	padding: 15px 30px 15px 30px;
	margin: 13px 25px 12px 25px;
}

div.LieuxHoraires:hover {
	color: white;
	cursor: pointer;
		background-color: #7C7C7C;
	border-radius: 10px;
}

div.actes {
	font-size: 20px;
	color: rgb(117, 117, 117);
	float: left;
	padding: 15px 30px 15px 30px;
	margin: 13px 25px 12px 25px;
}

div.actes:hover {
	color: white;
	cursor: pointer;
		background-color: #7C7C7C;
	border-radius: 10px;
}

div.Evenements {
	font-size: 20px;
	color: rgb(117, 117, 117);
	float: left;
	padding: 15px 30px 15px 30px;
	margin: 13px 25px 12px 25px;
}

div.Evenements:hover {
	color: white;
	cursor: pointer;
	background-color: #7C7C7C;
	border-radius: 10px;
}

div.Contact {
	font-size: 20px;
	color: rgb(117, 117, 117);
	float: left;
	padding: 15px 30px 15px 30px;
	margin: 13px 25px 12px 25px;
}

div.Contact:hover {
	color: white;
	cursor: pointer;
	background-color: #7C7C7C;
	border-radius: 10px;
}
div.Connexion, div.deconnexion{
	font-size: 20px;
	color: rgb(117, 117, 117);
	float: left;
	padding: 15px 30px 15px 30px;
	margin: 13px 0px 12px 0px;
}

div.Connexion:hover, div.deconnexion:hover {
	color: white;
	cursor: pointer;
		background-color: #7C7C7C;
	border-radius: 10px;
}
a.link{
	text-decoration: none;
	text-transform: none;
	text-color: none;
}
a.link:visited{
	text-decoration: none;
	text-transform: none;
	text-color: none;
}
/*b{
	height: 50px;
	width: 50px;
}*/
/*
#colonnes {
	margin-top: 80px;
	margin-bottom: -80px;
}
*/

/*#contenu{*/
	#menup{
float :left;
width:14%;
background-color: #ADD8E6;
border :1px solid black;
vertical-align: top;
border-radius: 10px;
text-align: center;

margin-top: 4.5%;
height:77%;
/*padding-left:22%;*/
padding-top: 6%;
box-shadow: 0px 2px 12px blue;
/*margin-right: 120%;*/

background-image:linear-gradient(#ADD8E6,white);

}
/*#princpal{*/
	#contenu{
box-shadow: 0px 2px 12px blue;
		vertical-align: top;
	border : 1px solid black;
	border-radius: 10px;
	float:left;
	width:63%;
	height:79%;
	margin-top:4.5%;
	
	
	padding-left: 22%;
	padding-top: 5%;
	text-align: center;
	/*min-height: 90%;
*/
background-image:linear-gradient(#ADD8E6,white);
	
}
#footer{
	text-align: center;
	height: 1%;
width: 100%;
box-shadow: 0px 2px 12px blue;
		vertical-align: top;
	border : 1px solid black;
	border-radius: 10px;
}
table{
	border-collapse: collapse;
	/*les bordures du tableau sont collees*/
border:1px solid black;
text-align: center;
}
td{
	width:100px; height: 50px;
	border:1px solid black;
}
#fieldset{
	text-align: center;
	padding-right: 20%;
}